footer {
    background-color: rgb(53, 53, 53);
    padding: 20px;
    h4 {
        color: white;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: normal;
    }
    a {
        display: flex;
        color: white;
        padding: 0px 0px 10px 0px;
    }
    i {
        width: 30px;
    }
    ul {
        list-style: none;
    }
}
