.searchbar {
    text-align: center;
    padding: 20px;
    color: #353535;
    background-color: rgb(226, 226, 226);
}

.title {
    padding: 40px 20px 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
    h2 {
        font-size: 29px;
        padding: 0px 20px 20px 20px;
    }
    h3 {
        font-weight: 300;
        font-size: 19px;
        padding-bottom: 30px;
    }
}

.list {
    padding: 35px;
}

.restaurants {
    background-color: #f1f1f1;
    padding: 50px 20px;
        h1 {
            padding-bottom: 20px;
        }
        .card {
            margin: 0px 0px 30px 0px;
            box-shadow: 0px 0px 10px 0px #919191;
            border-radius: 15px;
            background-color: white;
        }
        .card__img {
            height: 170px;
        }
        .card img {
            border-radius: 15px 15px 0px 0px;
            height: 170px;
        }
        .card__description {
            padding: 20px;
            position: relative;
        }
        h3 {
            padding-bottom: 5px;
            font-size: 20px;
            font-weight: 700;
        }
        p {
            font-size: 17px;
            font-weight: 300;
        }
        i {
            position: absolute;
            right: 7%;
            top: 34%;
            font-size: 30px;
            font-weight: 300;
        }
}