.searchbar {
    text-align: center;
    padding: 20px;
    color: #353535;
    background-color: rgb(226, 226, 226);
}

.title {
    padding: 40px 20px;
    text-align: center;
    background-color: #f1f1f1;
    h2 {
        font-size: 29px;
        padding: 0px 20px 20px 20px;
    }
    h3 {
        font-weight: 300;
        font-size: 19px;
        padding-bottom: 30px;
    }
}

.list {
    padding: 35px;
}