button {
    padding: 3px;
}

.menu button {
    padding: 20px 60px 20px 60px;
    @include pink__gradient__button(#9356DC, #FF79DA)
}

.title button {
    padding: 20px;
    @include pink__gradient__button(#9356DC, #FF79DA)
}

.test {
    display: flex;
}

.list__button {
    padding: 20px 0px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    border-radius: 13px;
    box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
    background-color: #f1f1f1;
    cursor: pointer;
    span {
        position: absolute;
        left: 27px;
        padding: 3px;
        text-align: center;
        color: white;
        font-size: 15px;
        background-color: #9356DC;
        height: 25px;
        width: 25px;
        border-radius: 100px;
    }
    i {
        color: #727272;
        padding: 0px 0px 0px 40px;
    }
    p {
        padding: 0px 0px 0px 20px;
    }
}

.list__button:hover {
    background-color: #f5edff;
        i {
            color: #8626fc;;
    }
}