@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&family=Shrikhand&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
  }

header h1, .menu h1 {
    font-family: Shrikhand, Roboto, sans-serif;
    font-size: 29px;
}

footer h4 {
    font-family: Shrikhand, Roboto, sans-serif;
}
